@using component_param_blazor.Models

<div class="container">
    <div class="row">
        <div class="col-sm">ID:</div>
        <div class="col-sm">@Person.ID</div>
    </div>
    <div class="row">
        <div class="col-sm">FirstName:</div>
        <div class="col-sm">@Person.FirstName</div>
    </div>
    <div class="row">
        <div class="col-sm">LastName:</div>
        <div class="col-sm">@Person.LastName</div>
    </div>
</div>

@code{
    [Parameter]
    public Person Person{get;set;}


}